<h1>My tasks</h1>
<ul class = "list-unstyled">
  <% @tasks.each do |task| %>
    <li>
        <input type="checkbox" >
        <span class="checkmark"></span>
      <label class="container"><%= link_to task.title, task_path(task) %>
       <%= link_to "ðŸ—‘ï¸",
       task_path(task),
       data: { turbo_method: :delete, turbo_confirm: 'You sure?' } %>
      </label>

    </li>
    <% end %>
</ul>

<p> <%= link_to "Add a new task", tasks_new_path %></p>
